#body1{
	background-image: url("../img/e.jpg");
	background-size: 100%;
	background-repeat: repeat;
}
#body2{
	background-image: url("../img/e.jpg");
	background-size: 100%;
	background-repeat: repeat;
}
.img1{
	margin-top: 50px;
	padding: 20px;
	background-color: red;
	text-align: center;
}
.img2{
	margin-top: 50px;
	padding: 20px;
	background-color: blue;
    text-align: center;
}
.card{
	margin: auto;
}
#txt{
	color: white;
	text-align: justify;
	font-size: 1.2em;
}
.xd{
	text-align: center;
	color: white;
}
